html {
  /**Reset para rems**/
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: segoi-ui;
  src: url("../segoe-ui-4-cufonfonts/Segoe\ UI.ttf");
}

body {
  font-family: segoi-ui;
}

.contenedor {
  max-width: 80rem;
  margin: 0 auto;
  height: 100%;
}

.centrar-texto h2 {
  font-size: 7rem;
  color: #2a4b7a;
  padding-bottom: 5rem;
}
footer span {
  font-size: 2.6rem;
  font-weight: bold;
}

img {
  /**Le doy un tamaño maximo de 100% del contenedor a la imagen**/
  max-width: 100%;
}

/**Utilidades**/

.seccion {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.fw-400 {
  /**Para hacer textos mas delgados**/
  font-weight: 400;
}

.centrar-texto {
  text-align: center;
}

/** Header **/

.contenido-header {
  height: 100%;
  /**posiciona elementos de acuerdo a propiedades de flexbox**/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.barra-menu {
  margin: 1rem 0;
  align-content: center;
}

.logo {
  flex-basis: 20%;
}

/**Navegador**/

.navegacion {
  margin: 2rem 0 2rem;
}

.navegacion a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 3.5rem;
}

.navegacion a:hover {
  color: gray;
}

.navegacion a:last-of-type {
  margin-right: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

nav {
  float: left;
  /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #053477;
  text-decoration: none;
}

/** Titulo **/

/**Main**/

.imagen-trasera {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  background-image: url("../img/site-header-background.jpeg");
}
.imagen-grande h1 {
  font-size: 5.8rem;
  color: #053477;
  position: absolute;
  z-index: 3;
  width: 40%;
  padding: 28rem 20rem;
}

.imagen-grande .Oscuro {
  height: 100vh;
  width: 50%;
  background-color: rgba(100, 100, 100, 0.4);
  position: absolute;
  z-index: 2;
}

/**2**/
.padre {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  height: 48rem;
}
.padre h2 {
  font-size: 5rem;
  color: #2a4b7a;
}

.padre p {
  font-size: 1.8rem;
  color: #053477;
}

.BarraIzquierda {
  padding: 5rem 4rem;
}

.centro {
  display: flex;
  flex-direction: column;
}

.centro img {
  width: 9rem;
}

.centro h3 {
  font-size: 3rem;
  color: rgb(255, 145, 0);
}

.domicilio {
  display: flex;
  text-align: center;
  margin-bottom: 5rem;
}
.domicilioTexto {
  width: 45rem;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}
.encomienda {
  display: flex;
  text-align: center;
  margin-bottom: 5rem;
}
.encomiendaTexto {
  width: 45rem;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}
.economia {
  display: flex;
  text-align: center;
  margin-bottom: 5rem;
}
.economiaTexto {
  display: flex;
  width: 45rem;
  flex-direction: column;
  margin-left: 4rem;
}

/**Equipo**/
.Equipo {
  display: flex;
  width: 120rem;
  justify-items: center;
  text-align: center;
}

.Equipo h3 {
  font-size: 2.5rem;
  color: #f75f1c;
}

.Equipo p {
  font-size: 1.8rem;
  color: #053477;
}
.margencontenido {
  margin: 0 2rem;
}

/**Contacto**/

.centro2 {
  display: flex;
  background-color: #2a4b7a;
  flex-direction: row;
  height: 50rem;
}
.barraizq2 {
  display: flex;
  flex-direction: column;
  padding-left: 50rem;
}
.tituloCon {
  flex-basis: 30%;
  color: #f75f1c;
}

.tituloCon h2 {
  font-size: 3.5rem;
  margin-top: 30%;
}
.Formulario {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  margin-top: 3rem;
}
.entrada {
  height: 20rem;
}
.centro2 legend {
  font-size: 2.2rem;
  color: #f75f1c;
}
.centro2 label {
  color: #ffffff;
}
.centro2 li {
  color: white;
}
.centro2 .button {
  color: white;
  background-color: #e35619;
  width: 1.8rem;
  padding: 1rem 6rem 1rem 2.2rem;
  margin-top: 2rem;
  display: inline-block;
  text-align: center;
  border: none;
  font-size: 1.5rem;
}

.correo {
  display:flex;
  flex-direction: column;
  padding-right: 55rem;
}

input, select, textarea{
  padding: 0.5rem;
  border-radius: 0.4rem;
  border-style: none;
}

.Formulario label {
  font-size: 1.3rem;
}

.barraizq2 ul {
  list-style: none;
  line-height: 2.5rem;
  font-size: 1.3rem;
}
/**Botones**/

/**Footer**/

.redes {
  display: flex;
  background-color: #ad481d;
  height: 5rem;
  justify-content: center;
}

.redes img{
    padding: 0 10rem;
}

footer span::after {
  content: "";
  display: block;
  width: 33,3rem;
  height: 0.2rem;
  background-color: #e35619;
}
.textofooter {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: #2a4b7a;
}
footer article{
    width: 22rem;
}
.cajatextos{
    width: 100rem;
    margin-left: 25%;
}
